* {
    box-sizing: border-box;
    margin: 0%;
}

body {
    display: block;
    padding: 0%;
    margin: 0%;
    /* background-color: #111;*/
    overflow-x: hidden;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 180px;
    width: 100%;
    z-index: 1;
    position: absolute;
}

.mainheader {
    position: absolute;
    z-index: 1;
    margin-right: 100px;
}


.navbar {
    padding: 15px;
    /* font-size: small;
      font-weight: 500; */
    background-color: transparent;
    font-size: 25px;

}


#logo {
    cursor: pointer;
}


/***********************************/

.main {
    align-items: center;
    display: flex;
    height: 100vh;
    overflow: hidden;
    position: relative;
    /* width: 100vw; */
    object-fit: cover;
}

.videodiv {
    position: absolute;
    display: flex;
    width: 100%;
    object-fit: cover;
}

.video-heading {
    display: flex;
    height: 200px;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.heading {
    position: relative;
    z-index: 2;
}

.video-h1 {
    color: #fff;
    line-height: 1.3;
    font-size: 80px;
    font-family: gt-sectra;
    font-weight: 200;
}

/****************************************/

.intro-msg {
    display: flex;
    height: 400px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    font-size: 45px;
    /* font-weight: lighter; */
    font-family: gt-sectra;
    font-weight: 200;
}

/****************************************************/
.world-main {
    display: flex;
    width: 100%;
    height: 750px;
    align-items: center;
    justify-content: center;
}

.world-sub {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80%;
    justify-content: space-between;
    /* gap: 50px; */
}

.text-data {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 45px;
}

h3 {
    font-family: gt-sectra;
    font-weight: 200;
    font-size: 45px;

}

.world-text {
    color: #777;
    line-height: 2;
    font-size: 19px;
}

.world-img {
    height: 100%;
    width: 50%;
}

/****************************************************/

.golf-main {
    width: 100%;
    height: 1000px;
    background-color: #f3f3f3;
    ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.golf-sub {
    width: 85%;
    height: 80%;
    display: flex;
    align-items: center;
}

.golf-img {
    height: 100%;
    width: 70%;
    /* flex: 1; */
    position: absolute;
    margin: 0;
    padding: 0;
    display: block;
    order: 1;
}

.golf-text {
    background-color: #fff;
    width: 55%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    z-index: 2;
    position: relative;
    order: 2;
    margin-left: 52%;
    gap: 40px;
    padding: 70px;
}

.golf-header {
    font-family: gt-sectra;
    font-weight: 200;
    font-size: 45px;
}

.golf-msg {
    color: #777;
    line-height: 2;
    font-size: 19px;
}


/****************************************************/
.outdoor-main {
    width: 100%;
    height: 900px;
    background-color: #f3f3f3;
    ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.outdoor-sub {
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.outdoor-img {
    height: 100%;
    width: 70%;
    /* flex: 1; */
    position: absolute;
    margin: 0;
    padding: 0;
    display: block;
    order: 1;
}

.outdoor-text {
    background-color: #fff;
    width: 55%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    z-index: 2;
    position: relative;
    order: 2;
    margin-right: 52%;
    gap: 40px;
    padding: 70px;
}

.outdoor-header {
    font-family: gt-sectra;
    font-weight: 200;
    font-size: 45px;
}

.outdoor-msg {
    color: #777;
    line-height: 2;
    font-size: 19px;
}

/****************************************************/

.footer-main {
    display: flex;
    flex-direction: column;
    height: 450px;
    background-color: #161f1e;
    align-items: center;
    justify-content: space-around;
}

.footer-sub {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 1200px;
    justify-content: space-between;
    /* gap: 200px; */
    align-items: center;
}

.footer-data {
    display: flex;
    height: 160px;
    width: 40px;
    align-items: start;
}

.footer-links {
    display: flex;
    flex-direction: row;
    gap: 100px;
    height: 190px;
}

.footor-AallData {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.m-c-title {
    font-family: messina-sans;
    font-size: .7rem;
    letter-spacing: -.01em;
    margin-bottom: 0.75rem;
    text-transform: uppercase;
    width: 100%;
    color: hsla(0, 0%, 100%, .75);
    margin: 0;
    padding: 0;
}